	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/01/2019 13:45
  	*/


@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/font/Flaticon.72f703bc7408.eot");
  src: url("../fonts/flaticon/font/Flaticon.72f703bc7408.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/font/Flaticon.4d8c1486095d.woff") format("woff"),
       url("../fonts/flaticon/font/Flaticon.7872a6715018.ttf") format("truetype"),
       url("../fonts/flaticon/font/Flaticon.48835d172d8c.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/font/Flaticon.48835d172d8c.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-graduated:before { content: "\f100"; }
.flaticon-online:before { content: "\f101"; }
.flaticon-instructor:before { content: "\f102"; }
.flaticon-tools:before { content: "\f103"; }
.flaticon-quiz:before { content: "\f104"; }
.flaticon-browser:before { content: "\f105"; }